.app-post{

    width: 100%;
    &__container{
        display: grid;
        grid-template-columns: auto auto auto;
        
    }
    padding: 24px;
    margin: 1px;
    border: 1px solid grey;
    
}
.app-post__title {
    font-size: 24px;
    font-weight: bold;
    margin: 2px;
}